<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/aop
                        http://www.springframework.org/schema/aop/spring-aop.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context.xsd">


	<!--启用aspectj自动代理 -->
	<aop:aspectj-autoproxy />
	<bean id="audience"
		class="com.zjs.bwcx.spring.aop.allbasedxmlpointcutextract.Audience" />
	<bean id="singer"
		class="com.zjs.bwcx.spring.aop.allbasedxmlpointcutextract.Singer" />
	<aop:config>
		<aop:aspect ref="audience">
			<aop:pointcut
				expression="execution(** com.zjs.bwcx.spring.aop.allbasedxmlpointcutextract.Performance.perform(..))"
				id="performance" />
			<aop:before pointcut-ref="performance"
				method="silenceCellPhones" />

			<aop:before pointcut-ref="performance" method="taskSeats" />

			<aop:after pointcut-ref="performance" method="end" />
			<aop:after-returning pointcut-ref="performance"
				method="applause" />

			<aop:after-throwing pointcut-ref="performance"
				method="demandRefund" />
		</aop:aspect>
	</aop:config>
</beans>