<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd">


	<!-- <bean id="blankDisc" class="com.zjs.bwcx.spring.xml.literalvalue.BlankDisc"> 
		<constructor-arg value="Sgt. Perpper's Lonely Hearts Club Band"/> <constructor-arg 
		value="The Beatles"/> </bean> -->

	<!-- <bean id="blankDisc" class="com.zjs.bwcx.spring.xml.literalvalue.BlankDisc" 
		c:_0="Sgt. Perpper's Lonely Hearts Club Band" c:_1="The Beatles" /> -->

	<!-- <bean id="blankDisc" class="com.zjs.bwcx.spring.xml.literalvalue.BlankDisc" 
		c:title="Sgt. Pepper's Lonely Hearts Club Band" c:artist="The Beatles" /> -->

	<!-- <bean id="blankDisc" class="com.zjs.bwcx.spring.xml.literalvalue.BlankDisc" 
		c:_="Sgt. Pepper's Lonely Hearts Club Band" /> -->

	<!-- <bean id="blankDisc" class="com.zjs.bwcx.spring.xml.literalvalue.BlankDisc"> 
		<constructor-arg value="Sgt. Pepper's Lonely Hearts Club Band"/> <constructor-arg 
		value="The Beatles"/> <constructor-arg><null/></constructor-arg> </bean> -->


	<!-- <bean id="blankDisc" class="com.zjs.bwcx.spring.xml.literalvalue.BlankDisc"> 
		<constructor-arg value="Sgt. Pepper's Lonely Hearts Club Band" /> <constructor-arg 
		value="The Beatles" /> <constructor-arg> <list> <value>Sgt. Pepper's Lonely 
		Hearts Club Band</value> <value>With a Little Help from My Friends</value> 
		<value>Lucy in the Sky with Diamonds</value> <value>Getting Better</value> 
		<value>Fixing a Hole</value> </list> </constructor-arg> </bean> -->

	<bean id="blankDisc"
		class="com.zjs.bwcx.spring.xml.literalvalue.BlankDisc">
		<constructor-arg
			value="Sgt. Pepper's Lonely Hearts Club Band" />
		<constructor-arg value="The Beatles" />
		<constructor-arg>
			<set>
				<value>Sgt. Pepper's Lonely Hearts Club Band</value>
				<value>With a Little Help from My Friends</value>
				<value>Lucy in the Sky with Diamonds</value>
				<value>Getting Better</value>
				<value>Fixing a Hole</value>
			</set>
		</constructor-arg>
	</bean>


	<!-- <bean id="beatlesDiscography" class="com.zjs.bwcx.spring.xml.literalvalue.Discography">
		<constructor-arg value="The Beatles" />
		<constructor-arg>
			<list>
				<ref bean="sgtPeppers" />
				<ref bean="whiteAlbum" />
				<ref bean="hardDaysNight" />
				<ref bean="revolver" />
			</list>
		</constructor-arg>
	</bean> -->

</beans>