<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/aop
                        http://www.springframework.org/schema/aop/spring-aop.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context.xsd">


	<!--启用aspectj自动代理 -->
	<aop:aspectj-autoproxy />
	<bean id="singer"
		class="com.zjs.bwcx.spring.aop.addmethodbyxml.Singer" />
	<!-- <bean id="encorableIntroducer"
		class="com.zjs.bwcx.spring.aop.addmethodbyxml.DefaultEncorableImpl" /> -->

	<aop:config>
		<aop:aspect>
			<aop:declare-parents
				types-matching="com.zjs.bwcx.spring.aop.addmethodbyxml.Performance+"
				implement-interface="com.zjs.bwcx.spring.aop.addmethodbyxml.Encorable" 
				default-impl="com.zjs.bwcx.spring.aop.addmethodbyxml.DefaultEncorableImpl"/>
		</aop:aspect>
	</aop:config>

</beans>